.main {
    background-repeat: no-repeat;
    font-size: 16pt;
    font-family: monospace;
    width: 40%;
    margin-left: 30%;
}

@media (max-width: 1000px)
{
    .main {
        width: 66%;
        margin-left: 17%;
    }
}

a {
    text-decoration: none;
}

.section-header {
    text-align: center;
    margin-top: 8%;
}

.ref-link {
    padding: 10px;
}

.block {
    padding: 10px;
    margin-bottom: 4vh;
}

.link-block {
    margin-top: 0.9vh;
    margin-bottom: 0.7vh;
}

/*  themes  */

@media (prefers-color-scheme: light) {
    .main {
        background: #FEFEFE;
        color: #3F3F3F;
    }
    
    a {
        color: #8888FF;
    }
}

@media (prefers-color-scheme: dark) {
    .main {
        background: #1F1F1F;
        color: #DEDEDE;
    }
    
    a {
        color: pink;
    }
}